/* :root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

* { 
}

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {

}

.nav { 

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.a_header:hover{
    color: #404bbf;
}

.a_header:focus{
    color: #404bbf;
}

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header_ul{
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header_ul:hover{
    color: #404bbf;
}

.header_ul:focus{
    color: #404bbf;
}



.ul_header>li>a {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address_li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: #434455;
}


.address_li:hover{
    color: #404bbf;
}

.address_li:focus{
    color: #404bbf;
}

.ul_address {
}

.ul_address>li>a {
    margin-right: 40px;
    font-weight: 400;
}





.section_main {
    background: #2e2f42;
}

.h1_main {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    
    line-height: 1.7;
}

.btn_main {
    white-space: nowrap;
    border: none;
    line-height: 1.5;

    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
}

.btn_main:hover{
    background-color: #404BBF;
    cursor: pointer;
}

.btn_main:focus{
    background-color: #404BBF;
    cursor: pointer;
}






.h2_advant { 
    line-height: 1.2;
}

.ul_advant {

}

.ul_advant>li {
}

.h3_advant {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p_advant {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}






.section_ot {
    background: #f4f4fd;
}

.h2_oteam {
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ul_ot { 
}

.ul_ot>li {
    background: #fff;
    border: none;
}

.img_ot {
}

.h3_ot {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.p_ot {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}





.section_op {
}

.h2_op {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ul_op {


    margin-bottom: 48px;

}

.ul_op>li {
    margin-right: 24px;
    background: #fff;

}

.op_content {

}

.img_op {
}

.h3_op {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p_op {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}





.foot {
    background: #2e2f42;
}

.a_foot {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.a_foot>span{
    line-height: 1.17;
    color: #f4f4fd;
    
}

.p_foot {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}
